<nav class="navbar navbar-light navbar-expand-md bg-light navigation-clean">
    <div class="container">
        <a class="navbar-brand text-primary border-secondary shadow-sm" href="#">Doggy BnB</a>
        <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item"> <!-- Duplique este li para adicionar um botão no menu -->
                    <a class="nav-link active shadow-sm" href="/index.html">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>